@use 'base/variables' as v;


.contenido-paginas h2{
    margin-bottom: 1rem;
}
.seccion-paginas{
    display: flex;
    margin-top: 4rem;
    justify-content: space-around;
    padding: 1rem;
    
}
.paginas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
}

.imagenes-paginas img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.imagenes-paginas{
    width: 12rem;
    height: 12rem;
}

.paginas-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.paginas h3{
    margin-bottom: 0;

}



